@import '~normalize.css';

body {
    background-color: #101014;
}

@font-face {
    font-family: "Circe-Light";
    src: url("../fonts/Circe/Circe-Light.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "SF-Pro-Display";
    src: url("../fonts/SF-Pro-Display/SF-Pro-Display-Medium.ttf");
    font-weight: 400;
}