$darkgrey: #1E1E1E;
$lightgrey: #545353;

.header {
    margin-top: 50px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;

    #wrapper1 {
        display: flex;
        align-items: center;
    }
    
    #wrapper2 {
        display: flex;
        align-items: center;
    }
    
    #wrapper3 {
        display: flex;
        align-items: center;
    }
}

.menu-icon {
    width: 70px;
    height: 70px;
    border: solid 1px $lightgrey;
    border-radius: 50%;
    background-color: $darkgrey;
    box-sizing: border-box;
    background-image: url('../../assets/icons/global/fi-sr-apps.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: .4s;
    cursor: pointer;
} 

.menu-icon:hover {
    filter: invert(100%);
}

.notifications-icon {
    margin: 0px 50px 0px 40px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 1px $lightgrey;
    background-color: $darkgrey;
    box-sizing: border-box;
    background-image: url('../../assets/icons/global/fi-sr-bell.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: .4s;
    cursor: pointer;
}

.notifications-icon:hover {
    filter: invert(100%);
}

.current-place {
    font-family: "Circe-Light";
    color: white;
}

.search {
    input[type=search] {
        background-color: $darkgrey;
        background-image: url('../../assets/icons/global/Lupa.svg');
        background-repeat: no-repeat;
        background-position: center left 34px;
        border-radius: 100px;
        box-sizing: border-box;
        border: solid 1px $lightgrey;
        font-family: 'Circe-Light';
        font-size: 24px;
        line-height: 35px;
        width: 516px;
        height: 70px;
        padding-left: 81px;
        color: white;
    }
}

.profile {
    width: 70px;
    height: 70px;
    margin-left: 77px;
    background-image: url('../../assets/images/Ellipse\ 3.png');
    cursor: pointer;
}

.container {
    width: 1620px;
    margin: 0px auto;
}