.switch {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 70px;
    border-radius: 100px;
    background-color: #1E1E1E;
    border: solid 1px #545353;
    input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: -2px;
        left: 0px;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-position: left 20px center;
        #moon-icon {
            opacity: 0;
            filter: invert(0);
            transition: .3s;
        }
        #sun-icon {
            filter: invert(1);
            transition: .3s;
            margin-left: 3px;
        }
    }
    .slider::before{
        position: absolute;
        content: "";
        width: 76px;
        height: 76px;
        background: linear-gradient(93.16deg, #31DAFF 0%, #E231FF 97.43%);
        border-radius: 100px;
        transition: .2s;
    }
    input:checked + .slider:before {
        transform: translate(90%);
    }

    input:checked + .slider {
        #moon-icon {
            opacity: 1;
        }
        #sun-icon {
            opacity: 0;
        }
    }

    img {
        height: 40px;
        width: 40px;
    }

    #moon-icon {
        filter: invert(1);
    }

    .themes-icons {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

