.switch {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 70px;
    border-radius: 100px;
    background-color: #1E1E1E;
    border: solid 1px #545353;
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: -2px;
        left: -2px;
        right: 0;
        bottom: 0;
    }
    .slider::before{
        position: absolute;
        content: "";
        width: 76px;
        height: 76px;
        background: linear-gradient(93.16deg, #31DAFF 0%, #E231FF 97.43%);
        border-radius: 100px;
        transition: .2s;
    }

    input:checked + .slider:before {
        transform: translate(100%);
    }
}

